<nav class="navbar navbar-expand-lg navbar-static-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Code Review Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/">View Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/create-review">Create Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
